<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/leave_management_db?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo all executed SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Auto create/update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Connection pool -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Entity mappings -->
        <mapping class="model.Employee"/>
        <mapping class="model.LeaveRequest"/>
    </session-factory>
</hibernate-configuration>
